/* main.less */
body {
	padding: 0;
	margin: 0;
	background-color: #dddddd;
}

.black {
	background-color: black;
	height: 54px;
	padding: 32px;
	padding-left: 50px;
	margin-bottom: 0;
}
.control-list {
	background-color: black;
	margin-top: 0;
	padding: 0;
	height: 29px;
	border-top: solid #2d2d2d 1px;
	border-bottom: solid #2d2d2d 3px;
}
.version {
	color: white;
}

.board {
	padding-left: 50px;
	padding-right: 30px;
}
.row div {
	display: inline-block;

	.list-prop {
		display: block;
	}
}

.item {
	h3 {
		margin-bottom: 8px;
	}
	.label {
		width: 105px;
		font-weight: bold;
		vertical-align: top;
	}
	.value {
		font-family: monospace;
		min-width: 400px;
	}
}
.power-off {
	position: absolute;
	cursor: pointer;
}
.plus {
	cursor: pointer;
}
.option-list {
	z-index: 1000;
	position: absolute;
	margin: 0;
	width: 120px;
	background-color: white;
	border: solid black 1px;
	cursor: pointer;
	list-style: none;
}

svg.link {
	vertical-align: sub;
}

.right-control {
	position: absolute;
	top: 50px;
	right: 30px;
	height: 40px;
	margin-right: 20px;
}

.button {
	position: relative;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.5em;
	border: solid white 3px;
	width: 160px;
	height: 24px;
	color: white;
	background-color: gray;
	font-size: medium;
	display: inline-block;
	margin: 1px;
	cursor: pointer;
}

.button:active {
	background-color: white;
}

.button:hover {
	background-color: darkgray;
}

.open {
	background-color: white;
	margin: 12px;
	padding: 8px;
	border: solid;
}

.setup {
	input[type=text] {
		width: 450px;
	}
	.label {
		width: 105px;
		font-weight: bold;
	}
}

.waiting {
	color: gray;
}

.bold {
	font-weight: bold;
}

